.body {
    text-align: center;    
    min-height: 80vh;
    padding-top:7%;
}

.signup-form {
    text-align: left;
    margin-left:40%

}

.signup-form > div {
    margin-top: 5%;
}

.login-form > div {
    margin-top: 2%;
}

.labelStyle {
    font-size: 9px;
}

.buttonStyle {
    color: #ffffff;
    background-color: #9d9d9d;
    border: 1px;
    border-radius: 4px;
    font-size: 11px;
    padding: 4px;
}